<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean id="myFortuneService"
    		class="com.ioc.beanspoce.singleton.HappyFortuneService">
    </bean>
    
    <bean id="myFortuneServiceRandom"
    		class="com.ioc.beanspoce.singleton.RandomFortuneService">
    
    </bean>
        	
    <bean id="myCoach"
    	class="com.ioc.beanspoce.singleton.TrackCoach"
    	scope="singleton">
    	<constructor-arg index="0" ref="myFortuneService" />
    	<constructor-arg index="1" ref="myFortuneServiceRandom" />
    	
    </bean>
    
</beans>